$main-color:#9356DC;
$second-color:#FF79DA;
$third-color:#99E2D0;

$main-bg-color:#F6F6F6;
$second-bg-color:white;
$third-bg-color:#353535;
$four-bg-color:#EAEAEA;

$accent-txt-color:#008766;

$main-font:"Roboto";
$second-font:"Shrikhand";